/* Main CSS File with all Index CSS */


/*Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

body {
    font-family: 'Ubuntu', Courier;
    background-color: rgb(7, 8, 26);

}

/* Containers */

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

/* Main-Container */

.main-container {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;

}

.intro-row {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.intro-header {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.intro-h1 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 35px;
}

.intro-p {
    color: rgb(84, 58, 155);
    font-weight: bold;
}

.intro-buttons {
    margin-top: 30px;
}

.sign-button {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    margin-left: 10px;
    height: 40px;
    background: linear-gradient(0.25turn,#0D3D8D, #2AD8EC);
    border: none;
    color: white;
}

.sign-button-2 {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    margin-left: 10px;
    height: 40px;
    background: linear-gradient(0.25turn,#7318B7, #2AD8EC);
    border: none;
    color: white;
}

.modal-title {
    text-align: left;
}

/* FAQ Modal */

.modal-title-h5 {
    text-align: left;
    color: rgb(84, 58, 155);
    font-weight: bold;
}

.faq-h6 {
    font-weight: bold;
    text-align: left;
    color: rgb(84, 58, 155);
}

.faq-p {
    text-align: left;
    font-size: 13px;
    color: white;
}

.modal-body  {
    background-color: #0C0E27;
}

.modal-header {
    background-color: #0C0E27;
    border-bottom: 0 none;
    text-align:center; 
}





.social-buttons {
    margin-top: 50px;
    background-repeat: no-repeat;

}

.join-us {
    font-weight: bold;
    color: white;
}

.facebook-button {
    background: url('/assets/facebook.png');
    width: 35px;
    height: 35px;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 10px;
    
}

.instagram-button {
    background: url('/assets/instagram.png');
    width: 35px;
    height: 35px;    
    border: none;
    margin-left: 10px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.yt-button {
    background: url('/assets/youtube.png');
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 10px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.linked-button {
    background: url('/assets/linkedin.png');
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 10px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.learn-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Second-Container */

.second-container {
    min-height: 600px;
    max-width: 2000px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0C0E27;
}

.explain-header {
    max-width: 350px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.platform-text {
    color: white;
    margin-top: 20px;
}

.play-button {
    background: url('/assets/play.png');
    border: none;
    height: 46px;
    width: 336px;
    background-repeat: no-repeat;
}

.platform-image {
    margin-top: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Third-Container */

.third-container {
    min-height: 460px;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}

.courses-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 340px;
    width: auto;
}

.courses {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.courses-row {
    margin-top: 100px;

}

.courses-h3 {
    color: white;
    font-weight: bold;
}

.courses-p {
    font-size: 12px;
}

.courses-button {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    margin-top: 15px;
    height: 40px;
    background: linear-gradient(0.25turn,#0D3D8D, #2AD8EC);
    border: none;
    color: white;
}

/* Fourth-Container */

.team-h3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-weight: bold;

}

.image-row {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.roadmap-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Fifth-Container */

.fifth-container {
    min-height: 500px;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}

.team-row {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.team-member {
    margin-right: auto;
    margin-left: auto;
    
}
.team-name {
    margin-top: 20px;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.team-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.team-p {
    color: #7318B7;
    text-align: center;
}

.team-buttons {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.team-fb-button {
    background: url('/assets/blue-fb.png');
    width: 28px;
    height: 28px;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
}

.team-ig-button {
    background: url('/assets/blue-insta.png');
    width: 28px;
    height: 28px;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
}

.team-li-button {
    background: url('/assets/blue-linked.png');
    width: 28px;
    height: 28px;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
}





@media (max-width: 760px) {
    .learn-image {
        margin-top: 50px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}